python-dotenv
pyyaml
pandas
numpy
scipy
pyarrow
chromadb
sentence-transformers
scikit-learn
gradio
transformers
torch
accelerate
openai
lightgbm
loguru
datasets
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
lxml
opencc-python-reimplemented
jieba
rank-bm25