python-dotenv
pyyaml
pandas
numpy
scipy
pyarrow
chromadb
sentence-transformers
faiss-cpu
scikit-learn
gradio
transformers
torch
accelerate
peft
openai
lightgbm
loguru
datasets
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
lxml
opencc-python-reimplemented
jieba
tqdm
rank-bm25
FlagEmbedding